
language: node_js

node_js:
  - "7.2.1"

services:
  - docker
  
before_install:
  - node --version
  - npm --version

before_script:
  - npm i
  - sleep 5

script:
  - docker exec -ti epiclabs/e2e-test-runner -c "./node_modules/.bin/protractor protractor.conf.js"


notifications:
  email:
    - paullittlebury@gmail.com
