
language: node_js

node_js:
  - "7.2.1"

services:
  - docker
  
before_install:
  - node --version
  - npm --version

before_script:
  - npm i
  - sleep 5

script:
  - node mdn.js

notifications:
  email:
    - paullittlebury@gmail.com
