
language: node_js

node_js:
  - "7.2.1"

services:
  - docker
  
before_install:
  - node --version
  - npm --version

before_script:
  - npm i
  - sleep 5

script:
  - docker run -it --volume  full/repo/route/example:/tests epiclabs/e2e-test-runner --specs /tests/features/google.feature

notifications:
  email:
    - paullittlebury@gmail.com
