language: node_js

node_js:
  - "7.2.1"

services:
  - docker
  
before_install:
  - node --version
  - npm --version

before_script:
  - npm i
  - sleep 5

script:
  - docker pull epiclabs/e2e-test-runner
  - pwd
  - sleep 30
  - docker run -it --volume /home/travis/build/jaffamonkey/docker-cucumber-protractor-chrome/example:/tests epiclabs/e2e-test-runner --baseUrl http://google.com --specs ./tests/features/google.feature

notifications:
  email:
  - paullittlebury@gmail.com
